[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "plugins/evalcache"]
	path = plugins/evalcache
	url = https://github.com/mroth/evalcache
